@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600&display=swap');

* {
    font-family: 'Nunito',sans-serif,Arial;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    text-decoration:none;
    outline: none;
    border: none;
    text-transform: capitalize;
    transition: all .2s linear;
}
:root{

    --black:#000;
    --white:#fff;
    --light-white:#aaa;
    --light-bg:#111;
    --red:#f00;
}
html {
    font-size: 62.5%;
    scroll-behavior: smooth;
    scroll-padding-top: 5rem;
    overflow-x: hidden;


    
}
html::-webkit-scrollbar {
    width: 1rem;
}
html::-webkit-scrollbar-track{
    background: black;
}
html::-webkit-scrollbar-thumb {
    background: var(--red);
}


body {
    background: var(--black);
}
section {
    padding: 5rem 9%;
}
.heading {
    text-align: center;
    margin-bottom: 3rem;
    position: relative;
}
.heading::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    height: .1rem;
    width: 100%;
    background: var(--light-white);
    z-index: -1;
}
.heading span {
    color: var(--red);
    font-size: 3rem;
    background: var(--black);
    padding: .5rem 1.5rem;
    border: 0.1rem solid var(--light-white);
    border-radius: .5rem;
}
.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    padding: 0 9%;
    background: black;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
   -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    z-index: 10000;
}
.logo {
    font-weight: bolder;
    color: var(--white);
    font-size: 3rem;
}
.header .logo span {
    color: #f00;
}
.header .navbar a {
    display: inline-block;
    padding: 1.5rem 2rem;
    font-size: 1.7rem;
    color: white;
}
.header .navbar a:hover {
    background: var(--red);
}
#menu-btn {
    font-size: 3rem;
    color: white;
    cursor: pointer;
    display: none;
}
.btn {
    margin-top: 1rem;
    display: inline-block;
    padding: 1rem 2.8rem;
    padding-right:3rem ;
    background:  linear-gradient(130deg, var(--red) 93%, transparent 90%);
    color: var(--white);
    cursor: pointer;
    font-size: 1.7rem;
    border: none;
    outline: none;
}
.btn:hover {
    transform: scale(1.1);
}
.home {
    padding: 0;
    margin-top: 6.5rem;
}
.home .slide {
    min-height: 70vh;
    background-size: cover !important;
    background-position:  center !important;
    padding: 2rem 9%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
 .slide .content {
    width: 60rem;
}
 .slide .content span {
    font-size: 2rem;
    color: var(--red);
    display: block;
}
.home .slide .content h3{
    font-size: 5rem;
    color: var(--white);
    padding: 1rem 0;
}
.swiper-pagination-bullet {
    height: 2rem;
    width: 2rem;
    background: var(--white);
}
.swiper-pagination-bullet.swiper-pagination-bullet-active{
    background: var(--red);
}
.about {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 8rem;

}
.about .image {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 42rem;
        flex: 1 1 42rem;
    position: relative;
}
.about .image::before,
.about .image::after {
    content: '';
    position: absolute;
    z-index: -1;
    background: var(--red);
    height: 15rem;
    width: 15rem;
}


.about .image::after {
    bottom: 0;
    right: 0;
}
.about .image::before {
    top: 0;
    left: 0;
}
.about .image img {
    width: 100%;
    padding: 2rem;
}
  
.about .content {
    flex: 1 1 42rem;
}

.about .content span {
    font-size: 2rem;
    color: var(--red);
}
.about .content .title {
    font-size: 4rem;
    color: var(--white);
    margin-top: .5rem;
}
.about .content p {
    font-size: 1.5rem;
    color: var(--light-white);
    padding: 1rem 0;	
    line-height: 2;
}
.about .content .box-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 2rem;
    margin-top: 1rem;
}

.about .content .box-container .box {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 20rem;
        flex: 1 1 20rem;
}
.about .content .box-container .box h3 {
    font-size: 2rem;
    color: var(--white);

}

.about .content .box-container .box h3 i {
    padding-right: 1.5rem;
    color: var(--red);
}


.features .box-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (minmax(32rem, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(32rem, 1fr));
    gap: 1.5rem;
    gap: 0;

}
.features .box-container .box {
    background: var(--light-bg);
}
.features .box-container .box.second {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-flow: column-reverse;
            flex-flow: column-reverse;
    
}
.features .box-container .box:hover .image img{
    -webkit-transform: scale(1.1);
        transform: scale(1.1);
}
.features .box-container .box .image {
    height: 30rem;
    width: 100%;
    overflow: hidden;
}

.features .box-container .box .image img {
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
        object-fit: cover;
    
}

.features .box-container .box .content {
    text-align: center;
    padding: 2rem;
}
.features .box-container .box .content img {
    height: 9rem;
    margin-bottom: 1rem;
    -webkit-filter: invert(1);
        filter: invert(1);
    
}
.features .box-container .box  .content h3 {
    font-size: 2rem;
    color: var(--red);
}

.features .box-container .box .content p {
    line-height: 2;
    font-size: 1.5rem;
    color: var(--light-white);
    padding: 1rem 0;
}
.pricing {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (minmax(32rem, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit,minmax(32rem, 1fr));
    gap: 1.5rem;
}
.pricing .information span {
    font-size: 2rem;
    color: var(--red);
}
.pricing .information h3 {
    font-size: 4rem;
    padding-top: .5rem;
    color: var(--white);
}
.pricing .information p {
    line-height: 2;
    padding: 1rem 0;
    font-size: 1.4rem;
    color: var(--light-white);
}
.pricing .information p i {
    padding-right: 1rem;
    color: var(--red);
}
.pricing .plan {
    text-align: center;
    padding: 2rem;
}

.pricing .plan.basic {
    background: linear-gradient(130deg,var(--light-bg) 93%, transparent 90%);
}
.pricing .plan h3 {
    font-size: 2.5rem;
    margin: 1rem 0;
    color: var(--white);
}
.pricing .plan .price {
    font-size: 3.5rem;
    font-weight: bolder;
    color: var(--red);
}

.pricing .plan .price span {
    color: var(--white);
    font-size: 2rem;
}
.pricing .plan .list {
    padding: 1rem 0;
}
.pricing .plan .list p {
    line-height: 2;
    padding: 1rem 0;
    font-size: 1.4rem;
    color: var(--light-white);
}
.pricing .plan .list p i {
    padding-right: 1rem;
    color: var(--red);
}

.trainers .box-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (minmax(25rem, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap:1.5rem;
}
.trainers .box-container .box {
    height: 40rem;
    overflow: hidden;
    position: relative;
}
.trainers .box-container .box:hover .content {
    -webkit-transform: translateY(0);
            transform: translateY(0);
}
.trainers .box-container .box img {
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}
.trainers .box-container .box .content {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: var(--light-bg);
    padding: 2rem;
    -webkit-transform: translateY(6.5rem);
            transform: translateY(6.5rem);
    
}
.trainers .box-container .box .content span {
    font-size: 1.5rem;
    color: var(--red);
    
}
.trainers .box-container .box .content h3 {
    font-size: 2rem;
    color: var(--white);
    padding-top: .5rem;
}

.trainers .box-container .box .content .share {
    padding-top: 2rem;
    margin-top: 1.5rem;
    border-top: 0.1rem solid var(--light-white);
}
.trainers .box-container .box .content .share a {
    font-size: 2rem;
    color: white;
    margin-right: 1.5rem;
}
.trainers .box-container .box .content .share a:hover{
    color: var(--red);
}
.banner {
    background: -webkit-gradient(linear, left top,left bottom, from(rgba(0,0,0,0.7)),to(rgba(0,0,0,0.7))),url('../img/banner-bg.jpg') no-repeat;
    background: linear-gradient(rgba(0,0,0,.7), rgba(0,0,0,0.7)),url('../img/banner-bg.jpg') no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    text-align: center;
}
.banner span {
    font-size: 2rem;
    color: var(--red);
}
.banner h3 {
    padding-top: 1rem;
    color: var(--white);
    text-transform: uppercase;
    font-size: 3.5rem;
}
.banner p {
    margin: 1rem auto;
    max-width: 60rem;
    font-size: 1.5rem;
    color: var(--light-white);
    line-height: 2;
}
.review {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    gap: 2rem;
}
.review .information {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 35rem;
    flex: 1 1 35rem;

}

.review .information span {
    font-size: 2rem;
    color: var(--red);
}
.review .information h3 {
    font-size: 3rem;
    color: var(--white);
    padding-top: 1rem;
}
.review .information p {
    font-size: 1.5rem;
    line-height: 2;
    color: var(--light-white);
    padding: 1rem 0;
}
.review .review-slider {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 60rem;
        flex: 1 1 60rem;
}
.review .review-slider .slide {
    background: linear-gradient(130deg,var(--light-bg) 93%, transparent 90%);
    padding: 2rem 3rem;
}
.review .review-slider .slide p {
    font-size: 1.5rem;
    line-height: 2;
    color: var(--light-white);
}

.review .review-slider .slide .user {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    margin-top: 1.5rem;
}
.review .review-slider .slide .user img {
    height: 5rem;
    width: 5rem;
    -o-object-fit: cover;
        object-fit: cover;
    border-radius: 50%;
    margin-right: 1rem;
}

.review .review-slider .slide .user h3 {
    font-size: 2rem;
    color: var(--white);
}
.review .review-slider .slide .user span{
    color: var(--red);
    font-size: 1.5rem;
}
.review .review-slider .slide .user i{
    font-size: 5rem;
    margin-left: auto;
    margin-right: 2rem;
    color: var(--red);
}


.blogs .slide {
    background: var(--light-bg);
    margin-bottom: 7rem;
}
.blogs .slide:hover .image img {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}
.blogs .slide .image  {
    height: 25rem;
    width: 100%;
    overflow: hidden;
}
.blogs .slide .image img {
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
        object-fit: cover;
}
.blogs .slide .content {
    padding: 2rem;
}

.blogs .slide .content .link {
    padding-bottom: 1.5rem;
    font-size: 1.5rem;
}
.blogs .slide .content .link a {
    color: var(--red);
}
.blogs .slide .content .link a:hover {
    color: var(--white);
}
.blogs .slide .content .link span {
    color: var(--white);
    padding: 0 1rem;
}
.blogs .slide .content h3 {
    font-size: 2rem;
    color: var(--white);
    line-height: 1.5;
}
.blogs .slide .content p {
    font-size: 1.1rem;
    color: var(--light-white);
    line-height: 2;
    padding: 1rem 0;
    text-align: left;
}

.footer .box-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns:(minmax(25rem,1fr))[auto-fit];
    grid-template-columns: repeat(auto-fit, minmax(25rem,1fr));
    gap: 1.5rem;
    margin: 2rem;
}
.footer .box-container .box h3 {
    font-size: 2.2rem;
    color: var(--white);
    padding: 1rem 0;

}
.footer .box-container .box .links {
    font-size: 1.5rem;
    display: block;
    color: var(--light-white);
    padding: 1rem 0;
}
.footer .box-container .box .links:hover {
    color: var(--red);
}
.footer .box-container .box p {
    font-size: 1.4rem;
    color: var(--light-white);
    padding: 1rem 0;
}
.footer .box-container .box p i {
    padding-right: .5rem;
    color: var(--red);
}
.footer .box-container .box .share {
    padding: 1rem 0;
}
.footer .box-container .box .share a {
    height: 4.5rem;
    width: 4.5rem;
    line-height: 4.5rem;
    font-size: 1.7rem;
    color: var(--white);
    background: var(--light-bg);
    border-radius: 50%;
    margin-right: .5rem;
    text-align: center;
}
.footer .box-container .box .share a:hover {
    color: var(--red);
}
.footer .box-container .box form .email {
    margin-bottom: 1rem;
    width: 100%;
    background: var(--light-bg);
    padding: 1.2rem;
    color: var(--white);
    text-transform: none;
}
.credit {
    font-size: 2rem;
    text-align: center;
    padding: 2rem;
    color: var(--white);
    background: var(--light-bg);
    line-height: 1.5;
}
.credit span {
    color: var(--red);
}
/* media queries */


@media (max-width:991px) {
    html {
        font-size: 55%;
    }
    .header {
        padding: 0 2rem;
    }
    section{
        padding: 3rem 2rem;
    }
    .home .slide {
        padding: 2rem 5%;
        
    }
    .home .slide .content {
        width: 50rem;
    }
    .home .slide .content h3 {
        font-size: 4rem;
    }
    
}
@media (max-width:768px) {
    .header {
        padding: 2rem;
    }
    #menu-btn {
       display: inline-block;
    }
    #menu-btn.fa-times {
        -webkit-transform: rotate(180deg);
                transform: rotate(180deg);
      
    }
    .header .navbar {
        position: absolute;
        top: 99%;
        left: 0;
        right: 0;
        background: var(--black);
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }
    .header .navbar.active {
        clip-path: polygon(0 0, 100% 0,100% 100%, 0 100%);
    }
    .header .navbar a {
        display: block;
        font-size: 2rem;
    }
    .fa-times {
        transform: rotate(180deg);
    }
    .about {
        gap: 3rem;
    }
    .about .image {
        margin-top: 5rem;
    }
    .about .content .title {
        font-size: 3rem;
    }
    .features .box-container .box.second {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-flow: column;
                flex-flow: column;
    }
    .features .heading span {
        font-size: 2.5rem;
    }  
}
@media (max-width:450px) {
    html {
        font-size: 55%;
    }
    .trainers .box-container .box img{
        height: auto;
    }
    .blogs .slide .content h3 {
        font-size: 1.5rem;
    }
    
}